.time-container {
  display: flex;
  justify-content: flex-start;
}

.set-time {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 70px;
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #ffffff;
}

form {
  display: flex;
  justify-items: center;
}

.search-bar__container {
  display: flex;
  justify-content: space-around;
}

.table-container {
  background-color: #302e2e;
  opacity: 0.8;
}

table {
  width: 250px;
  height: 140px;
}

td {
  color: #ffffff;
  opacity: 1.5 !important;
}

.search-bar__input {
  background-color: #f1eded;
  color: #181616;
  font-size: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none !important;
  padding: 10px;
  width: 220px;
}

.search-bar__input:focus {
  outline: none;
}

.submit-btn {
  background-color: #f1eded;
  color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none !important;
  outline: none;
  padding: 10px;
  padding-top: 12px !important;
  padding-bottom: 11px !important;
  cursor: pointer;
}

@media (max-width: 800px) {
  .search-bar__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 300px) {
  .search-bar__input {
    max-width: 150px;
  }

  table {
    max-width: 150px;
  }
}

@media (max-width: 200px) {
  .search-bar__input {
    max-width: 112px;
  }

  table {
    max-width: 112px;
  }
}
